body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #4aacc5;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}


.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
  border-color:#8b8b8b2c;
  box-shadow: 0 0.25rem 0.25rem rgba(156, 168, 168, 0.15);
}

.btn-md-main {
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  border-radius:0.5rem;
  border: 0.025rem solid #96959517;
  color:rgb(97, 155, 180);
  box-shadow: 0 0.15rem 0.35rem rgba(156, 168, 168, 0.15);
}

.btn-text-dark {
  padding: 0.25rem 0.75rem;
  margin-right: 0.5rem;
  font-size: 1.25rem;
  border-radius:0.5rem;
  border: 0.015rem solid #96959570;
  color:rgba(5, 5, 5, 0.815);
  box-shadow: 0 0.15rem 0.35rem rgba(156, 168, 168, 0.15);
}

.btn-text-dark:hover{
  color:rgba(25, 160, 201, 0.815);
}

main {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.bg-navbar-main{
    background-color: #ffffff !important;
}

.navbar-brand {
    display: inline-block;
    padding: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    border: 0.025rem solid #e2dfdfbe;
    box-shadow: 0 0.15rem 0.35rem rgba(220, 223, 223, 0.507);
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}

#mainNav .navbar-brand {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: rgba(34, 115, 117, 0.781);
  }

.navbar-light .navbar-brand {
    color: rgba(34, 115, 117, 0.781);
}

.navbar-light{
    background-color: rgba(255, 255, 255, 0.411);
    border-bottom: 1px solid rgba(194, 163, 163, 0.788);
    box-shadow: 0 0.25rem 0.35rem rgba(220, 223, 223, 0.507);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: rgba(156, 117, 33, 0.9);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(9, 133, 138, 0.897);
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(236, 127, 55, 0.788);
}
.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3);
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color:  rgba(236, 127, 55, 0.788);
}
.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
border-color: rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-light .navbar-text {
    color: rgba(0, 0, 0, 0.5);
}
.navbar-light .navbar-text a {
    color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
    color: rgba(0, 0, 0, 0.9);
}

@media (max-width: 991.98px) {
    .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid,
  .navbar-expand-lg > .container-sm,
  .navbar-expand-lg > .container-md,
  .navbar-expand-lg > .container-lg,
  .navbar-expand-lg > .container-xl {
      padding-right: 0;
      padding-left: 0;
    }
  }
  @media (min-width: 992px) {
    .navbar-expand-lg {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-nav {
      flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid,
  .navbar-expand-lg > .container-sm,
  .navbar-expand-lg > .container-md,
  .navbar-expand-lg > .container-lg,
  .navbar-expand-lg > .container-xl {
      flex-wrap: nowrap;
    }
    .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
    .navbar-expand-lg .navbar-toggler {
      display: none;
    }
}
.newfeed {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0.05rem solid rgba(109, 106, 106, 0.11);
    box-shadow: 0 0.25rem 0.25rem rgba(156, 168, 168, 0.15);
    border-radius: 0.5rem;
  }

.media-user{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.media-image{
  width: inherit;
  margin: 4px;
  height: 100%;
  max-height: 480px;
}

.media-footer{
  height: 48px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.media-child{
  min-width: 48px;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0.05rem solid rgba(109, 106, 106, 0.11);
    box-shadow: 0 0.25rem 0.25rem rgba(156, 168, 168, 0.15);
    border-radius: 0.5rem;
  }
